.recipes {
    padding: 0 var(--space);
    display: flex;
    flex-wrap: wrap;
    gap: var(--space);
}

.categories {
    padding: var(--space) var(--margin);
    display: flex;
    justify-content: space-between;
}

app-category {
    flex: 1;
}
