.categories,
.ingredients {
    padding: var(--space) var(--margin);
    display: flex;
    justify-content: space-between;
}

app-category,
app-ingredient {
    flex: 1;
}

.recipes {
    padding: var(--space) var(--margin);
    display: flex;
    flex-wrap: wrap;
    gap: var(--space);
}

app-recipe {
    flex-basis: calc(33% - var(--space));
}
