<app-header />
<app-hero />

<div class="categories">
    <app-category *ngFor="let category of categories$ | async" [category]="category" />
</div>

<div class="center">
    <h1>Mais populares</h1>
    <small>
        Testadas e aprovadas: estas são as receitas mais populares da semana.
    </small>
</div>

<div class="recipes">
    <app-recipe *ngFor="let recipe of recipes$ | async" [recipe]="recipe" />
</div>

<div class="center">
    <h1>Mais amados</h1>
    <small>
        Confira os ingredientes mais amados e usados na semana.
    </small>
</div>

<div class="ingredients">
    <app-ingredient *ngFor="let ingredient of ingredients$ | async" [ingredient]="ingredient" />
</div>