header {
    padding: var(--space) var(--margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: var(--space);
}

a i {
    margin-right: 8px;
}

.logo img {
    width: 180px;
    height: 100%;
}
