@import "primeng/resources/themes/soho-light/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    --space: 32px;
}

body {
    background-color: antiquewhite;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #757088;
}

.borel {
    font-family: "Borel", cursive;
}
