@import "primeng/resources/themes/soho-light/theme.css";
@import "primeng/resources/primeng.css";

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    --space: 32px;
    --margin: 160px;
}

body {
    background-color: #fff;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    font-optical-sizing: auto;
}

h1 {
    font-size: 2.5rem;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #757088;
}

.borel {
    font-family: "Borel", cursive;
}
