@import "primeng/resources/themes/lara-light-teal/theme.css";
@import "primeng/resources/primeng.css";

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    --space: 32px;
    --margin: 160px;
}

body {
    color: #333;
    background-color: #fff;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    font-optical-sizing: auto;
}

h1 {
    font-size: 2.5rem;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: var(--primary-color);
}

small {
    margin: 12px 0;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-color);
}

.center {
    text-align: center;
}
